
@{
    ViewBag.Title = "OpenGovernment";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="ny">
    <div class="crumbs">当前位置：<a href="/cn/index.html">首页</a>&gt;&gt; 政务公开</div>

    <div class="fr" style="width: 990px;">
        <div class="Tag_tab1 w_2" style="height:376px;">
            <div class="T_gray">
                <h3>通知公告</h3>
                <em><a href="/cn/tzgg.html" target="_blank">&gt;&gt;更多</a></em>
            </div>
            <ul class="Tag_news">

                <li>
                    <a href='/cn/tzgg/3261.html' target="_blank">
                        关于组织参加2017年（第十届）
                        浙江...
                    </a><span>[2017-04-05]</span>
                </li>
                <li><a href='/cn/tzgg/3260.html' target="_blank">关于实施外国人来华工作许可制度的通告</a><span>[2017-03-31]</span></li>
                <li>
                    <a href='/cn/tzgg/3235.html' target="_blank">
                        2016年度尉氏县大学生“创业新秀”
                        ...
                    </a><span>[2017-03-22]</span>
                </li>
                <li><a href='/cn/tzgg/3222.html' target="_blank">2016年度尉氏县大学生“创业新秀”评选...</a><span>[2017-03-14]</span></li>
                <li><a href='/cn/tzgg/3142.html' target="_blank">企业申报稳定岗位补贴政策问答</a><span>[2017-02-06]</span></li>
                <li><a href='/cn/tzgg/3141.html' target="_blank">关于受理2016年度企业稳定岗位补贴的通...</a><span>[2017-02-06]</span></li>
                <li><a href='/cn/tzgg/3126.html' target="_blank">关于开展2016年度尉氏县大学生“创业新...</a><span>[2017-01-13]</span></li>
                <li><a href='/cn/tzgg/3125.html' target="_blank">关于征集2016年度尉氏县大学生“创业新...</a><span>[2017-01-11]</span></li>
                <li><a href='/cn/tzgg/3111.html' target="_blank">关于2016年创业项目入库的通告</a><span>[2016-12-29]</span></li>
                <li><a href='/cn/tzgg/3106.html' target="_blank">关于2016年下半年度再就业援助补贴申报...</a><span>[2016-12-27]</span></li>
                <li><a href='/cn/tzgg/3104.html' target="_blank">关于2016年下半年度单位吸纳就业困难人...</a><span>[2016-12-27]</span></li>
                <li><a href='/cn/tzgg/3105.html' target="_blank">关于2016年下半年度灵活就业社会保险补...</a><span>[2016-12-27]</span></li>

            </ul>
        </div>
        <div class="Tag_tab1 w_2 ml10" style="height:376px">
            <div class="T_gray">
                <h3>新闻中心</h3>
                <span><a href="/cn/bsxw.html" target="_blank">本县新闻</a> <a href="/cn/wbxw.html" target="_blank">媒体聚焦</a><a href="/cn/allztc.html" target="_blank">直通车新闻</a></span>
                <em><a href="/cn/bsxw.html" target="_blank">&gt;&gt;更多</a></em>
            </div>
            <ul class="Tag_news">

                <li><a href='/cn/bsxw/3245.html' target="_blank">2016年度尉氏县大学生“创业新秀”评选...</a><span>[2017-03-22]</span></li>
                <li><a href='/cn/bsxw/3231.html' target="_blank">2016年度尉氏县大学生“创业新秀”评选...</a><span>[2017-03-20]</span></li>
                <li><a href='/cn/bsxw/3230.html' target="_blank">我县组织召开登记监测统计工作座谈会</a><span>[2017-03-16]</span></li>
                <li><a href='/cn/bsxw/3229.html' target="_blank">县就业局赴北仑区企业调研</a><span>[2017-03-16]</span></li>
                <li><a href='/cn/bsxw/3228.html' target="_blank">县就业局被评为“十二五”浙江省残疾人工作...</a><span>[2017-03-16]</span></li>
                <li><a href='/cn/bsxw/3205.html' target="_blank">我县2017年就业援助月专项活动圆满结束...</a><span>[2017-03-03]</span></li>
                <li><a href='/cn/bsxw/3151.html' target="_blank">我县2016尉氏县大学生就业之星揭晓</a><span>[2017-02-13]</span></li>
                <li><a href='/cn/bsxw/3152.html' target="_blank">我县第28届毕洽会首场大型招聘会顺利举行...</a><span>[2017-02-13]</span></li>
                <li><a href='/cn/bsxw/3144.html' target="_blank">县就业局进一步完善促进就业专项资金和失业...</a><span>[2017-02-06]</span></li>
                <li><a href='/cn/bsxw/3143.html' target="_blank">我县积极应对节后招用工高峰</a><span>[2017-02-06]</span></li>
                <li><a href='/cn/bsxw/3137.html' target="_blank">第十九期尉氏创业集县暨2017年就业援助...</a><span>[2017-01-16]</span></li>
                <li><a href='/cn/bsxw/3112.html' target="_blank">韩洪江同志来我局检查党风廉政建设责任制情...</a><span>[2016-12-30]</span></li>

            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
