
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}


<link href="/Content/css/ny.css" rel="stylesheet" type="text/css" />
<div class="container main">
    <div class="ny">
        <div class="crumbs">
            当前位置：
            <a href='/cn/index.html'>首页</a>
            &gt;&gt; <a href='/cn/zwgk.html'>政务公开</a>
            &gt;&gt; <a href='/cn/tzgg.html'>通知公告</a>
        </div>
        <div class="ny_left fl mt12">

            <div class="tab_list sb1">
                <div class="tit">
                    <h3>政务公开</h3>
                </div>
                <ul>
                <li><a href='/cn/xwzx.html'>新闻中心</a>
                    <ul>
                        <li><a href='/cn/bsxw.html'>本市新闻</a></li>
                        <li><a href='/cn/wbxw.html'>媒体聚焦</a></li>
                        <li><a href='/cn/allztc.html'>直通车新闻</a></li>
                    </ul>
                    </li>
                <li><a href='/cn/tzgg.html' class='cur'>通知公告</a></li>
                <li><a href='/cn/sjjg.html'>市局机构</a>
                    <ul>
                        <li><a href='/cn/sbgs.html'>办公室</a></li>
                        <li><a href='/cn/scyzdk.html'>创业指导科</a></li>
                        <li><a href='/cn/sghcwk.html'>规划财务科</a></li>
                        <li><a href='/cn/szcfgk.html'>政策法规科</a></li>
                        <li><a href='/cn/sjck.html'>稽查科</a></li>
                        <li><a href='/cn/sjctjk.html'>登记监测统计科</a></li>
                        <li><a href='/cn/sjyfwk.html'>就业服务科</a></li>
                        <li><a href='/cn/sbysk.html'>毕业生服务科</a></li>
                        <li><a href='/cn/ssybxk.html'>失业保险科</a></li>
                        <li><a href='/cn/sjcjsk.html'>基层建设科</a></li>
                        <li><a href='/cn/sxxhjsk.html'>信息化建设科</a></li>
                    </ul>
                  </li><li><a href='/cn/jcfw.html'>基层服务</a></li>
                </ul>
            </div>

            <div class="tab_l01 sb1 mt10">
                <div class="tit">
                    <h3>通知公告</h3>
                    <em><a href="/cn/tzgg.html" target="_blank">更多&gt;&gt;</a></em>
                </div>
                <ul>
                    <li>
                        <a href='/cn/tzgg/3291.html' target="_blank">
                            调整失业保险费率政策问答
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3290.html' target="_blank">
                            浙江省人力资源和社会保障厅等3...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3263.html' target="_blank">
                            关于受理2017年上半年市统筹...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3261.html' target="_blank">
                            关于组织参加2017年（第十届...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3260.html' target="_blank">
                            关于实施外国人来华工作许可制度...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3235.html' target="_blank">
                            2016年度宁波市大学生“创业...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3222.html' target="_blank">
                            2016年度宁波市大学生“创业...
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ny_right fr mt12">
            <div class="lot"><h3><span>通知公告</span></h3></div>

            <div class="news_list">
                <ul>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3291.html' target="_blank">
                                调整失业保险费率政策问答
                            </a>
                        </h3><span>2017-04-20</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3290.html' target="_blank">
                                浙江省人力资源和社会保障厅等3部门关于阶段性降低失业保险费率有关问题的通知
                            </a>
                        </h3><span>2017-04-20</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3263.html' target="_blank">
                                关于受理2017年上半年市统筹区高校毕业生
                                就业补贴的通告
                            </a>
                        </h3><span>2017-04-12</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3261.html' target="_blank">
                                关于组织参加2017年（第十届）
                                浙江省技能人才校企合作洽谈会的通知
                            </a>
                        </h3><span>2017-04-05</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3260.html' target="_blank">
                                关于实施外国人来华工作许可制度的通告
                            </a>
                        </h3><span>2017-03-31</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3235.html' target="_blank">
                                2016年度宁波市大学生“创业新秀”
                                候选人名单公示
                            </a>
                        </h3><span>2017-03-22</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3222.html' target="_blank">
                                2016年度宁波市大学生“创业新秀”评选入围终评名单公示
                            </a>
                        </h3><span>2017-03-14</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3142.html' target="_blank">
                                企业申报稳定岗位补贴政策问答
                            </a>
                        </h3><span>2017-02-06</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3141.html' target="_blank">
                                关于受理2016年度企业稳定岗位补贴的通告
                            </a>
                        </h3><span>2017-02-06</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3126.html' target="_blank">
                                关于开展2016年度宁波市大学生“创业新秀”评选活动的通知
                            </a>
                        </h3><span>2017-01-13</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3125.html' target="_blank">
                                关于征集2016年度宁波市大学生“创业新秀”评选活动执行单位的通知
                            </a>
                        </h3><span>2017-01-11</span>
                    </li>
                    <li>
                        <h3>
                            <a href='/cn/tzgg/3111.html' target="_blank">
                                关于2016年创业项目入库的通告
                            </a>
                        </h3><span>2016-12-29</span>
                    </li>
                </ul>
            </div>
            <div class="page">

                <span class="disabled"> 上一页</span>
                <span class="current">1</span>
                <a href='/cn/tzgg_2.html'>2</a><a href='/cn/tzgg_3.html'>3</a><a href='/cn/tzgg_4.html'>4</a><a href='/cn/tzgg_5.html'>5</a><a href='/cn/tzgg_6.html'>6</a><a href='/cn/tzgg_7.html'>7</a>                             <font>...</font>
                <a href='/cn/tzgg_10.html'>10</a><a href='/cn/tzgg_11.html'>11</a><a href='/cn/tzgg_2.html'>下一页</a>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
        $(function(){
                $(".tab_list").children("ul").children("li").each(function(){
                        if($(this).find(".cur").length>0){
                                $(this).find("ul").show();
                        }
                })
        })
</script>


