
@{
    ViewBag.Title = "Regulations";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<link href="/Content/css/ny.css" rel="stylesheet" type="text/css" />
<div class="ny">
    <div class="crumbs">
        当前位置：
        <a href='/cn/index.html'>首页</a>
        &gt;&gt; <a href='/cn/zcfg.html'>政策法规</a>
    </div>
    <div class="ny_left fl mt12">
        <div class="tab_list sb1">
            <div class="tit">
                <h3>政策法规</h3>
            </div>
            <ul><li><a href='/cn/zxzc.html'>最新政策</a></li><li><a href='/cn/ssqzc.html'>县级政策</a></li><li><a href='/cn/zcjd.html'>政策解读</a></li><li><a href='/cn/gjsqtzc.html'>国家、省、其它省县政策汇编</a></li></ul>
        </div>

        <div class="tab_l01 sb1 mt10">
            <div class="tit">
                <h3>通知公告</h3>
                <em><a href="/cn/tzgg.html" target="_blank">更多&gt;&gt;</a></em>
            </div>
            <ul>
                <li>
                    <a href='/cn/tzgg/3261.html' target="_blank">
                        关于组织参加2017年（第十届...
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3260.html' target="_blank">
                        关于实施外国人来华工作许可制度...
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3235.html' target="_blank">
                        2016年度尉氏县大学生“创业...
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3222.html' target="_blank">
                        2016年度尉氏县大学生“创业...
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3142.html' target="_blank">
                        企业申报稳定岗位补贴政策问答
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3141.html' target="_blank">
                        关于受理2016年度企业稳定岗...
                    </a>
                </li>
                <li>
                    <a href='/cn/tzgg/3126.html' target="_blank">
                        关于开展2016年度尉氏县大学...
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ny_right fr mt12">
        <table width="722" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e3e6ed;margin:0 auto;margin-bottom:8px;">
            <tbody>
                <tr>
                    <td width="86" height="52" align="center"><img src="/content/images/cx02.gif" width="38" height="37"></td>
                    <td width="120" align="left"><img src="/content/images/cx04.gif" width="99" height="27"></td>
                    <td width="122" align="left" style="font-size:14px">请输入搜索关键字:</td>
                    <td width="205" align="left" valign="middle"><input name="searchword" type="text" style="line-height:20px;width:215px;" id="textfield2"></td>
                    <td width="160" align="left" valign="middle"><input src="/content/images/cx01.jpg" id="zc_search" type="image"></td>
                </tr>
            </tbody>
        </table>
        <div class="lot"><h3><span>最新政策</span></h3><em><a href="/cn/zxzc.html" target="_blank">&gt;&gt;更多</a></em></div>
        <div class="news_list">
            <ul>

                <li><h3><a href="/cn/ssqzc/3051.html\" target="_blank">关于印发尉氏县大学生就业创业平台载体有关管理办法的通知</a></h3><span>2016-11-10</span></li>
                <li><h3><a href="/cn/ssqzc/2972.html\" target="_blank">关于做好网络创业认定工作的通知</a></h3><span>2016-10-09</span></li>
                <li><h3><a href="/cn/gjsqtzc/3000.html\" target="_blank">人力资源社会保障部关于开展2016年全国高校毕业生就业服务月活动的通知</a></h3><span>2016-10-10</span></li>

            </ul>
        </div>
        <div class="lot"><h3><span>县级政策</span></h3><em><a href="/cn/ssqzc.html" target="_blank">&gt;&gt;更多</a></em></div>
        <div class="news_list">
            <ul>

                <li><h3><a href="/cn/ssqzc/3051.html\" target="_blank">关于印发尉氏县大学生就业创业平台载体有关管理办法的通知</a></h3><span>2016-11-10</span></li>
                <li><h3><a href="/cn/ssqzc/2972.html\" target="_blank">关于做好网络创业认定工作的通知</a></h3><span>2016-10-09</span></li>
                <li><h3><a href="/cn/ssqzc/2747.html\" target="_blank">关于印发尉氏县就业和失业登记管理办法的通知</a></h3><span>2016-05-20</span></li>
                <li><h3><a href="/cn/ssqzc/2555.html\" target="_blank">尉氏县人民政府办公厅关于调整全县失业保险金标准的通知</a></h3><span>2016-02-24</span></li>
                <li>
                    <h3>
                        <a href="/cn/ssqzc/2542.html\" target="_blank">
                            关于印发《进一步做好新形势下
                            就业创业工作意见实施细则》的通知
                        </a>
                    </h3><span>2016-02-17</span>
                </li>

            </ul>
        </div>
        <div class="lot"><h3><span>政策解读</span></h3><em><a href="/cn/zcjd.html" target="_blank">&gt;&gt;更多</a></em></div>
        <div class="news_list">
            <ul>

                <li><h3><a href="/cn/zcjd/3052.html\" target="_blank">《关于印发尉氏县大学生就业创业平台载体有关管理办法的通知》的相关问答</a></h3><span>2016-11-10</span></li>
                <li><h3><a href="/cn/zcjd/2976.html\" target="_blank">关于网络创业认定政策的问答</a></h3><span>2016-10-09</span></li>
                <li><h3><a href="/cn/zcjd/3011.html\" target="_blank">尹蔚民：在推动经济发展中促进就业稳定增加 </a></h3><span>2016-08-04</span></li>
                <li><h3><a href="/cn/zcjd/2490.html\" target="_blank">《关于促进农村电子商务创业就业的通知》的政策解读</a></h3><span>2016-01-06</span></li>
                <li><h3><a href="/cn/zcjd/1609.html\" target="_blank">马凯在四川调研时强调 扎实做好促进就业稳定增长的各项工作</a></h3><span>2014-11-03</span></li>

            </ul>
        </div>
        <div class="lot"><h3><span>国家、省、其它省县政策汇编</span></h3><em><a href="/cn/gjsqtzc.html" target="_blank">&gt;&gt;更多</a></em></div>
        <div class="news_list">
            <ul>

                <li><h3><a href="/cn/gjsqtzc/3000.html\" target="_blank">人力资源社会保障部关于开展2016年全国高校毕业生就业服务月活动的通知</a></h3><span>2016-10-10</span></li>
                <li><h3><a href="/cn/gjsqtzc/2176.html\" target="_blank">国务院《关于进一步做好新形势下就业创业工作的意见》（国发〔2015〕23号）...</a></h3><span>2015-07-29</span></li>
                <li><h3><a href="/cn/gjsqtzc/2988.html\" target="_blank">人力资源社会保障部 外交部 公安部 文化部关于印发《外国人入境完成短期工作任...</a></h3><span>2014-11-20</span></li>
                <li><h3><a href="/cn/gjsqtzc/2987.html\" target="_blank">浙江省人力资源和社会保障厅关于下放和调整部分人力资源社会保障行政审批及其他行...</a></h3><span>2014-08-01</span></li>
                <li><h3><a href="/cn/gjsqtzc/2986.html\" target="_blank">浙江省人力资源和社会保障厅等10部门关于进一步鼓励和支持家政服务业发展的若干...</a></h3><span>2014-04-10</span></li>

            </ul>
        </div>
    </div>
</div></div>
<script type="text/javascript">
        $(function(){
                $(".tab_list").children("ul").children("li").each(function(){
                        if($(this).find(".cur").length>0){
                                $(this).find("ul").show();
                        }
                })
                $("#zc_search").click(function(){
                        if($("#textfield2").val()!=''){
                                window.open("/cn/zcsearch.html?kw="+$("#textfield2").val());
                        }
                })
        })
</script>

