
@{
    ViewBag.Title = "TableDownLoad";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<link href="/Content/css/ny.css" rel="stylesheet" type="text/css" />
<div class="container main">
    <div class="ny">
        <div class="crumbs">
            当前位置：
            <a href='/cn/index.html'>首页</a>
            &gt;&gt; <a href='/cn/bgxz.html'>表格下载</a>
        </div>
        <div class="ny_left fl mt12">


            <div class="tab_l01 sb1 mt10">
                <div class="tit">
                    <h3>通知公告</h3>
                    <em><a href="/cn/tzgg.html" target="_blank">更多&gt;&gt;</a></em>
                </div>
                <ul>
                    <li>
                        <a href='/cn/tzgg/3261.html' target="_blank">
                            关于组织参加2017年（第十届...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3260.html' target="_blank">
                            关于实施外国人来华工作许可制度...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3235.html' target="_blank">
                            2016年度尉氏县大学生“创业...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3222.html' target="_blank">
                            2016年度尉氏县大学生“创业...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3142.html' target="_blank">
                            企业申报稳定岗位补贴政策问答
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3141.html' target="_blank">
                            关于受理2016年度企业稳定岗...
                        </a>
                    </li>
                    <li>
                        <a href='/cn/tzgg/3126.html' target="_blank">
                            关于开展2016年度尉氏县大学...
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ny_right fr mt12">
            <div class="lot">表格下载</div>

            <div class="news_list">
                <ul>

                    <li>
                        <h3>
                            <a href='/Upload/失业登记证明书_d933d2ed-37fd-477b-abe2-194e5f5d9d0a.doc'>
                                失业登记证明书
                            </a>
                        </h3><span>2016-09-20</span><em><a href="/Upload/失业登记证明书_d933d2ed-37fd-477b-abe2-194e5f5d9d0a.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/失业人员登记表_53134a69-61f8-472c-a71c-e16678ec016d.xls'>
                                失业人员登记表
                            </a>
                        </h3><span>2016-09-20</span><em><a href="/Upload/失业人员登记表_53134a69-61f8-472c-a71c-e16678ec016d.xls">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/失业登记证明书（样本）_8060f9b4-1f3f-49d1-82aa-99b9ef48a6e5.doc'>
                                失业登记证明书（样本）
                            </a>
                        </h3><span>2016-09-20</span><em><a href="/Upload/失业登记证明书（样本）_8060f9b4-1f3f-49d1-82aa-99b9ef48a6e5.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/失业人员登记表（样本）_d8038d3e-25e1-4390-94cd-f19fd3ab9abe.xls'>
                                失业人员登记表（样本）
                            </a>
                        </h3><span>2016-09-20</span><em><a href="/Upload/失业人员登记表（样本）_d8038d3e-25e1-4390-94cd-f19fd3ab9abe.xls">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/20160725 尉氏县灵活就业人员申请社会保险补贴登记表_09e3a7d3-3433-4c86-8b77-3f6bb84be25b.doc'>
                                尉氏县灵活就业人员申请社会保险补贴登记表
                            </a>
                        </h3><span>2016-07-25</span><em><a href="/Upload/20160725 尉氏县灵活就业人员申请社会保险补贴登记表_09e3a7d3-3433-4c86-8b77-3f6bb84be25b.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/20160725 尉氏县灵活就业登记表_467c2e00-48ad-495f-b3e4-fb33a568b48f.doc'>
                                尉氏县灵活就业登记表
                            </a>
                        </h3><span>2016-07-25</span><em><a href="/Upload/20160725 尉氏县灵活就业登记表_467c2e00-48ad-495f-b3e4-fb33a568b48f.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/20160725 用人单位吸纳就业社会保险补贴申请表_b05aeed0-c082-4c45-bfff-614df4548619.doc'>
                                用人单位吸纳就业社会保险补贴申请表
                            </a>
                        </h3><span>2016-07-25</span><em><a href="/Upload/20160725 用人单位吸纳就业社会保险补贴申请表_b05aeed0-c082-4c45-bfff-614df4548619.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/尉氏县企业稳定岗位补贴申请表_0a0f75c6-2d7c-4d6b-9e8a-781af3019d03.doc'>
                                尉氏县企业稳定岗位补贴申请表
                            </a>
                        </h3><span>2016-07-04</span><em><a href="/Upload/尉氏县企业稳定岗位补贴申请表_0a0f75c6-2d7c-4d6b-9e8a-781af3019d03.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/用人单位吸纳就业困难人员社会保险补贴须知_cdb87c41-714c-4a40-8ce2-e211b93c5d5f.doc'>
                                用人单位吸纳就业困难人员社会保险补贴须知
                            </a>
                        </h3><span>2015-11-16</span><em><a href="/Upload/用人单位吸纳就业困难人员社会保险补贴须知_cdb87c41-714c-4a40-8ce2-e211b93c5d5f.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/ee5a017292da41998388b52027723277.doc'>
                                台港澳人员在浙就业申请登记表
                            </a>
                        </h3><span>2015-06-24</span><em><a href="/Upload/ee5a017292da41998388b52027723277.doc">下载</a></em>
                    </li>

                    <li>
                        <h3>
                            <a href='/Upload/cf5206558133411681867958307a5334.doc'>
                                尉氏县人力资源和社会保障局行政许可申请书
                            </a>
                        </h3><span>2015-06-24</span><em><a href="/Upload/cf5206558133411681867958307a5334.doc">下载</a></em>
                    </li>

                </ul>
            </div>
            <div class="page">

                <span class="disabled">上一页</span>
                <span class="current">1</span>
                <a href='/cn/bgxz_2.html'>2</a><a href='/cn/bgxz_3.html'>3</a><a href='/cn/bgxz_4.html'>4</a><a href='/cn/bgxz_5.html'>5</a><a href='/cn/bgxz_6.html'>6</a><a href='/cn/bgxz_2.html'>下一页</a>
            </div>


        </div>
    </div>
</div>


