

@{
    ViewBag.Title = "Title";
}

@section themes{
    <link href="~/Static/Css/usp/usp.webregulations.index.css" rel="stylesheet" />
}
<!--操作按钮开始-->
<div id="toolbarmenu" class="datagrid-toolbar" style="padding-bottom: 3px">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="usp.webregulations.index.add('/Web/WebRegulations/Add');">添加</a>
            </td>
            <td>
                <span class="datagrid-btn-separator"></span>
            </td>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="usp.webregulations.index.edit('#datagrid', '/Web/WebRegulations/Edit?id=');">编辑</a>
            </td>
            <td>
                <span class="datagrid-btn-separator"></span>
            </td>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="usp.webregulations.index.cancel('#datagrid', '/Web/WebRegulations/Cancel');">注销</a>
            </td>
            <td>
                <span class="datagrid-btn-separator"></span>
            </td>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="usp.webregulations.index.active('#datagrid', '/Web/WebRegulations/Active'); ">激活</a>
            </td>
            <td>
                <span class="datagrid-btn-separator"></span>
            </td>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="usp.webregulations.index.audit('#datagrid', '/Web/WebRegulations/Audit');">审核</a>
            </td>
        </tr>
    </table>
</div>
<!--操作按钮结束-->
<!--操作按钮结束-->
<!--搜索开始-->
<div id="toolbarsearch" style="padding:3px" class="datagrid-toolbar">
    <input id="searchbox" />
    <div id="mm"></div>
</div>
<!--搜索结束-->
<!--列表-->
<table id="datagrid"></table>



@section scripts{
    <script type="text/javascript" src="~/Static/Js/usp/usp.webregulations.index.js"></script>
    <script>
        (function () {
            usp.namespace("usp.webregulations.index");
            usp.webregulations.index.iniCount = 0;
            usp.webregulations.index.initGrid = function (id, url, toolbarmenu, toolbarsearch) {


                $(id).datagrid({
                    url: url,
                    title: '列表信息',
                    queryParams: { actionName: 'indexdatagrid' },
                    iconCls: 'icon-clientService',
                    fit: true,
                    nowrap: false,
                    striped: true,
                    columns: [
                        [
                              {
                                   field: 'ID', title: 'ID', width: 150,
                               },
                              {
                                   field: 'Title', title: '政策标题', width: 150,
                               },
                              {
                                   field: 'Content', title: '政策内容', width: 150,
                               },
                              {
                                   field: 'BrowerCount', title: '浏览次数', width: 150,
                               },
                              {
                                   field: 'Reserve', title: '说明', width: 150,
                               },
                              {
                                   field: 'Remark', title: '备注', width: 150,
                               },
                              {
                                   field: 'Creator', title: '创建人', width: 150,
                               },
                              {
                                   field: 'CreateTime', title: '创建时间', width: 150,
                                    formatter: function (val) {
                                        return usp.ParseUTCDate(val);
                                    }
                               },
                              {
                                   field: 'Auditor', title: '审批人', width: 150,
                               },
                              {
                                   field: 'AuditTime', title: '审批时间', width: 150,
                                    formatter: function (val) {
                                        return usp.ParseUTCDate(val);
                                    }
                               },
                              {
                                   field: 'Canceler', title: '注销人', width: 150,
                               },
                              {
                                   field: 'CancelTime', title: '注销时间', width: 150,
                                    formatter: function (val) {
                                        return usp.ParseUTCDate(val);
                                    }
                               },
                        ]
                    ],
                    toolbar: toolbarmenu + "," + toolbarsearch,
                    pagination: true,
                    rownumbers: true,
                    singleSelect: true,
                    onLoadSuccess: function () {
                        if (usp.webregulations.index.iniCount === 0) {
                            var fields = $(datagrid).datagrid('getColumnFields');
                            var muit = "";
                            for (var i = 0; i < fields.length; i++) {
                                var opts = $(datagrid).datagrid('getColumnOption', fields[i]);
                                muit += "<div data-options=\"name:'" + fields[i] + "'\" >" + opts.title + "</div>";
                            };
                            $("#mm").html(muit);
                            $('#searchbox').searchbox({
                                prompt: '请输入',
                                searcher: function () {
                                    var type = $('#searchbox').searchbox('getName');
                                    var name = $('#searchbox').searchbox('getValue');
                                    $(datagrid).datagrid('load', { actionName: 'indexdatagrid', type: type, name: name });
                                },
                                menu: "#mm",
                                width: 300
                            });
                            usp.webregulations.index.iniCount++;
                        }
                    }
                });
            }

            usp.webregulations.index.add = function (url) {
                location.href = url;
            }

            usp.webregulations.index.edit = function (datagrid, url) {
                var model = $(datagrid).datagrid("getSelected");
                if (model) {
                    location.href = url + model.ID;
                } else {
                    $.messager.alert('提示信息', '请选择要编辑数据！');
                }
            }

            usp.webregulations.index.audit = function (datagrid, url) {
                var model = $(datagrid).datagrid("getSelected");
                if (model) {
                    if (model.Auditor != null) {
                        toastr.warning('数据已通过审核，无需重复操作！');
                        return;
                    }
                    if (model.Canceler != null) {
                        toastr.warning('数据处于注销状态，无法审核！');
                        return;
                    }
                    $.messager.confirm('提示信息', '确定要审核通过此操作员？', function (r) {
                        if (r) {
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: { id: model.ID },
                                success: function (data) {
                                    if (data.flag) {
                                        toastr.success('审核通过成功！');
                                        $(datagrid).datagrid('reload');
                                    } else {
                                        toastr.error(data.message);
                                    }
                                },
                                error: function () {
                                    toastr.error('您没有操作权限！');
                                }
                            });
                        }
                    });
                } else {
                    toastr.error('请选择要审核通过的数据！');
                }
            }

            usp.webregulations.index.cancel = function (datagrid, url) {
                var model = $(datagrid).datagrid('getSelected');
                if (model) {
                    if (model.Canceler != null) {
                        toastr.warning('权限处于注销状态，无需重复操作！');
                        return;
                    }
                    $.messager.confirm('提示信息', '确定要注销此数据？', function (r) {
                        if (r) {
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: { id: model.ID },
                                success: function (data) {
                                    if (data.flag) {
                                        toastr.success('注销成功！');
                                        $(datagrid).datagrid('reload');
                                    } else {
                                        toastr.error(data.message);
                                    }
                                },
                                error: function () {
                                    toastr.error('您没有操作权限！');
                                }
                            })
                        }
                    });
                } else {
                    toastr.error('请选择要注销的数据！');
                }
            }

            usp.webregulations.index.active = function (datagrid, url) {
                var model = $(datagrid).datagrid("getSelected");
                if (model) {
                    if (model.Canceler == null) {
                        toastr.warning('权限处于激活状态，无需重复操作！');
                        return;
                    }
                    $.messager.confirm('提示信息', '确定要激活此操作员？', function (r) {
                        if (r) {
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                data: { id: model.ID },
                                success: function (data) {
                                    if (data.flag) {
                                        toastr.success('激活成功！');
                                        $(datagrid).datagrid('reload');
                                    } else {
                                        toastr.error(data.message);
                                    }
                                },
                                error: function () {
                                    toastr.error('您没有操作权限！');
                                }
                            });
                        }
                    });
                } else {
                    toastr.error('请选择要激活的数据！');
                }
            }

            usp.webregulations.index.init = function (id, url, toolbarmenu, toolbarsearch) {
                usp.webregulations.index.initGrid(id, url, toolbarmenu, toolbarsearch);
            }
        })(this);
        $(function () {
            usp.init();
            usp.webregulations.index.init("#datagrid", '/Web/WebRegulations/Index', "#toolbarmenu", "#toolbarsearch");

            if ('@TempData["resultMsgType"]' == 'success') {
                toastr.success('@TempData["resultMsg"]');
            } else if ('@TempData["resultMsgType"]' == 'error') {
                toastr.error('@TempData["resultMsg"]');
            }
        });
    </script>
}
